<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf的入门</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--    <link rel="stylesheet" href="/bootstrap-5.3.0/css"/>-->
    <!--    <script src="/bootstrap-5.3.0/js"></script>-->
    <!-- CSS files -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-flags.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-payments.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-vendors.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">


</head>
<body>
<!--<div class="" style="font-size: 18px;padding: 10px">-->
<!--    <ol class="breadcrumb breadcrumb-arrows" aria-label="breadcrumbs">-->
<!--        <li class="breadcrumb-item"><a th:href="@{/index}">主页</a></li>-->
<!--        <li class="breadcrumb-item"><a th:href="@{/old}" href="#">管理</a></li>-->
<!--        <li class="breadcrumb-item active" aria-current="page"><a href="">老人信息</a></li>-->
<!--    </ol>-->
<!--</div>-->
<div class="page">
    <header class="navbar navbar-expand-sm navbar-light d-print-none">
        <div class="container-xl">
            <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                <ol class="breadcrumb breadcrumb-arrows" aria-label="breadcrumbs">
                    <li class="breadcrumb-item"><a th:href="@{/index}">主页</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/old}" href="#">管理</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="">老人信息</a></li>
                </ol>
            </h1>

            <div class="navbar-nav flex-row order-md-last">
                <div class="nav-item">
                    <a href="#" class="nav-link d-flex lh-1 text-reset p-0">
                        <span class="avatar avatar-sm" style="background-image: url(/media/photo/icon.jpg)"></span>
                        <div class="d-none d-xl-block ps-2">
                            <div><p th:text="${userName}">lin</p></div>
                            <div class="mt-1 small text-secondary">快乐的老头儿</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="page-wrapper">
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-deck row-cards">
                    <div class="col-4">
                        <div class="card">
                            <div class="card-header">基本信息</div>
                            <div class="card-body" style="height: 10rem"></div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-header">健康状况</div>
                            <div class="card-body" style="height: 10rem"></div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-header">每日活动</div>
                            <div class="card-body" style="height: 10rem"></div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div id="chart-social-referrals" class="chart-lg"></div>
                            </div>
                        </div>

                        <script>
                            document.addEventListener("DOMContentLoaded", function() {
                                window.ApexCharts && (new ApexCharts(document.getElementById('chart-social-referrals'), {
                                    chart: {
                                        type: "line",
                                        fontFamily: 'inherit',
                                        height: 240,
                                        parentHeightOffset: 0,
                                        toolbar: {
                                            show: false,
                                        },
                                        animations: {
                                            enabled: false
                                        },
                                    },
                                    fill: {
                                        opacity: 1,
                                    },
                                    stroke: {
                                        width: 2,
                                        lineCap: "round",
                                        curve: "smooth",
                                    },
                                    series: [{
                                        name: "Facebook",
                                        data: [13281, 8521, 15038, 9983, 15417, 8888, 7052, 14270, 5214, 9587, 5950, 16852, 17836, 12217, 17406, 12262, 9147, 14961, 18292, 15230, 13435, 10649, 5140, 13680, 4508, 13271, 13413, 5543, 18727, 18238, 18175, 6246, 5864, 17847, 9170, 6445, 12945, 8142, 8980, 10422, 15535, 11569, 10114, 17621, 16138, 13046, 6652, 9906, 14100, 16495, 6749]
                                    }, {
                                        name: "Twitter",
                                        data: [3680, 1862, 3070, 2252, 5348, 3091, 3000, 3984, 5176, 5325, 2420, 5474, 3098, 1893, 3748, 2879, 4197, 5186, 4213, 4334, 2807, 1594, 4863, 2030, 3752, 4856, 5341, 3954, 3461, 3097, 3404, 4949, 2283, 3227, 3630, 2360, 3477, 4675, 1901, 2252, 3347, 2954, 5029, 2079, 2830, 3292, 4578, 3401, 4104, 3749, 4457, 3734]
                                    }, {
                                        name: "Dribbble",
                                        data: [722, 1866, 961, 1108, 1110, 561, 1753, 1815, 1985, 776, 859, 547, 1488, 766, 702, 621, 1599, 1372, 1620, 963, 759, 764, 739, 789, 1696, 1454, 1842, 734, 551, 1689, 1924, 1875, 908, 1675, 1541, 1953, 534, 502, 1524, 1867, 719, 1472, 1608, 1025, 889, 1150, 654, 1695, 1662, 1285, 1787]
                                    }],
                                    tooltip: {
                                        theme: 'dark'
                                    },
                                    grid: {
                                        padding: {
                                            top: -20,
                                            right: 0,
                                            left: -4,
                                            bottom: -4
                                        },
                                        strokeDashArray: 4,
                                        xaxis: {
                                            lines: {
                                                show: true
                                            }
                                        },
                                    },
                                    xaxis: {
                                        labels: {
                                            padding: 0,
                                        },
                                        tooltip: {
                                            enabled: false
                                        },
                                        type: 'datetime',
                                    },
                                    yaxis: {
                                        labels: {
                                            padding: 4
                                        },
                                    },
                                    labels: [
                                        '2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-27', '2020-06-28', '2020-06-29', '2020-06-30', '2020-07-01', '2020-07-02', '2020-07-03', '2020-07-04', '2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09', '2020-07-10', '2020-07-11', '2020-07-12', '2020-07-13', '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-17', '2020-07-18', '2020-07-19', '2020-07-20', '2020-07-21', '2020-07-22', '2020-07-23', '2020-07-24', '2020-07-25', '2020-07-26', '2020-07-27', '2020-07-28', '2020-07-29', '2020-07-30', '2020-07-31', '2020-08-01', '2020-08-02', '2020-08-03', '2020-08-04', '2020-08-05', '2020-08-06', '2020-08-07', '2020-08-08', '2020-08-09', '2020-08-10'
                                    ],
                                    colors: [tabler.getColor("facebook"), tabler.getColor("twitter"), tabler.getColor("dribbble")],
                                    legend: {
                                        show: true,
                                        position: 'bottom',
                                        offsetY: 12,
                                        markers: {
                                            width: 10,
                                            height: 10,
                                            radius: 100,
                                        },
                                        itemMargin: {
                                            horizontal: 8,
                                            vertical: 8
                                        },
                                    },
                                })).render();
                            });
                        </script>

                    </div>
                    <!--第三行 帖子+购物块-->
                    <div class="col-md-8">
                        <div class="card" style="height: calc(24rem + 10px)">
                            <div class="card-header">访客记录</div>
                            <div class="card-body card-body-scrollable card-body-scrollable-shadow">
                                <div class="divide-y">
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar">JL</span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>访客原因</strong> 探望老爷子的身体情况
                                                </div>
                                                <div class="text-muted"><strong>yesterday</strong></div>
                                            </div>
                                            <div class="col-auto align-self-center">
                                                <div class="badge bg-primary"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar">光头强</span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    It's <strong>Mallory Hulme</strong>'s birthday. Wish him well!
                                                </div>
                                                <div class="text-muted">2 days ago</div>
                                            </div>
                                            <div class="col-auto align-self-center">
                                                <div class="badge bg-primary"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/003m.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Dunn Slane</strong> posted <strong>"Well, what do you
                                                    want?"</strong>.
                                                </div>
                                                <div class="text-muted">today</div>
                                            </div>
                                            <div class="col-auto align-self-center">
                                                <div class="badge bg-primary"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/000f.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Emmy Levet</strong> created a new project <strong>Morning
                                                    alarm clock</strong>.
                                                </div>
                                                <div class="text-muted">4 days ago</div>
                                            </div>
                                            <div class="col-auto align-self-center">
                                                <div class="badge bg-primary"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/001f.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Maryjo Lebarree</strong> liked your photo.
                                                </div>
                                                <div class="text-muted">2 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar">EP</span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Egan Poetz</strong> registered new client as
                                                    <strong>Trilia</strong>.
                                                </div>
                                                <div class="text-muted">yesterday</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/002f.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Kellie Skingley</strong> closed a new deal on project
                                                    <strong>Pen Pineapple Apple Pen</strong>.
                                                </div>
                                                <div class="text-muted">2 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/003f.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Christabel Charlwood</strong> created a new project for
                                                    <strong>Wikibox</strong>.
                                                </div>
                                                <div class="text-muted">4 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar">HS</span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Haskel Shelper</strong> change status of <strong>Tabler
                                                    Icons</strong> from <strong>open</strong> to <strong>closed</strong>.
                                                </div>
                                                <div class="text-muted">today</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/006m.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Lorry Mion</strong> liked <strong>Tabler UI Kit</strong>.
                                                </div>
                                                <div class="text-muted">yesterday</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/004f.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Leesa Beaty</strong> posted new video.
                                                </div>
                                                <div class="text-muted">2 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/007m.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Perren Keemar</strong> and 3 others followed you.
                                                </div>
                                                <div class="text-muted">2 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar">SA</span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Sunny Airey</strong> upload 3 new photos to category
                                                    <strong>Inspirations</strong>.
                                                </div>
                                                <div class="text-muted">2 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/009m.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Geoffry Flaunders</strong> made a <strong>$10</strong>
                                                    donation.
                                                </div>
                                                <div class="text-muted">2 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/010m.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Thatcher Keel</strong> created a profile.
                                                </div>
                                                <div class="text-muted">3 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/005f.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Dyann Escala</strong> hosted the event <strong>Tabler UI
                                                    Birthday</strong>.
                                                </div>
                                                <div class="text-muted">4 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/006f.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Avivah Mugleston</strong> mentioned you on <strong>Best of
                                                    2020</strong>.
                                                </div>
                                                <div class="text-muted">2 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar">AA</span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Arlie Armstead</strong> sent a Review Request to <strong>Amanda
                                                    Blake</strong>.
                                                </div>
                                                <div class="text-muted">2 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row row-cards">
                            <div class="col-12">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                            <span class="bg-blue text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                   viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                   stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"
                                                                                        fill="none"></path><path
                                      d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2"></path><path
                                      d="M12 3v3m0 12v3"></path></svg>
                            </span>
                                            </div>
                                            <div class="col">
                                                <div class="font-weight-medium">
                                                    132 余额
                                                </div>
                                                <div class="text-muted">
                                                    12 waiting payments
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                            <span class="bg-green text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/shopping-cart -->
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                   viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                   stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"
                                                                                        fill="none"></path><circle
                                      cx="6" cy="19" r="2"></circle><circle cx="17" cy="19" r="2"></circle><path
                                      d="M17 17h-11v-14h-2"></path><path d="M6 5l14 1l-1 7h-13"></path></svg>
                            </span>
                                            </div>
                                            <div class="col">
                                                <div class="font-weight-medium">
                                                    78 购物车
                                                </div>
                                                <div class="text-muted">
                                                    32 shipped
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                            <span class="bg-yellow text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/users -->
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                   viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                   stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"
                                                                                        fill="none"></path><circle
                                      cx="9" cy="7" r="4"></circle><path
                                      d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path><path
                                      d="M16 3.13a4 4 0 0 1 0 7.75"></path><path
                                      d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path></svg>
                            </span>
                                            </div>
                                            <div class="col">
                                                <div class="font-weight-medium">
                                                    1352 通讯录
                                                </div>
                                                <div class="text-muted">
                                                    163 registered today
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                            <span class="bg-twitter text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                   viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                   stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"
                                                                                        fill="none"></path><path
                                      d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"></path></svg>
                            </span>
                                            </div>
                                            <div class="col">
                                                <div class="font-weight-medium">
                                                    623 分享
                                                </div>
                                                <div class="text-muted">
                                                    16 today
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                            <span class="bg-facebook text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/brand-facebook -->
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                   viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                   stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"
                                                                                        fill="none"></path><path
                                      d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"></path></svg>
                            </span>
                                            </div>
                                            <div class="col">
                                                <div class="font-weight-medium">
                                                    132 喜欢
                                                </div>
                                                <div class="text-muted">
                                                    21 today
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/libs/apexcharts/dist/apexcharts.min.js" defer></script>

<script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
</body>
</html>
