<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf的入门</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--    <link rel="stylesheet" href="/bootstrap-5.3.0/css"/>-->
    <!--    <script src="/bootstrap-5.3.0/js"></script>-->
    <!-- CSS files -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-flags.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-payments.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-vendors.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
</head>
<body>
<div class="page">
    <header class="navbar navbar-expand-sm navbar-light d-print-none">
        <div class="container-xl">
            <!-- 判断是否是管理员登录，如果是的话就显示返回主页的链接 -->
            <h1 th:if="${session.user.userRole == '管理员'}" class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                <ol class="breadcrumb breadcrumb-arrows" aria-label="breadcrumbs">
                    <li class="breadcrumb-item"><a th:href="@{/index}">主页</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/old}" href="#">管理</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="">老人信息</a></li>
                </ol>
            </h1>
            <!-- 用户的头像 -->
            <div class="navbar-nav flex-row order-md-last">
                <div class="nav-item dropdown d-none d-md-flex me-3">
                    <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show notifications">
                        <!-- Download SVG icon from http://tabler-icons.io/i/bell -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"></path><path d="M9 17v1a3 3 0 0 0 6 0v-1"></path></svg>
                        <span class="badge bg-red"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-card">
                        <div class="card">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad amet consectetur exercitationem fugiat in ipsa ipsum, natus odio quidem quod repudiandae sapiente. Amet debitis et magni maxime necessitatibus ullam.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu" aria-expanded="false">
                        <span class="avatar avatar-sm" th:style="'background-image: url('+${older.olderPhoto}+')'"></span>
                        <div class="d-none d-xl-block ps-2">
                            <div th:text="${older.olderName}">lin</div>
                            <div class="mt-1 small text-secondary" th:text="${older.olderId}"></div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <a href="#" class="dropdown-item">Set status</a>
                        <a href="#" class="dropdown-item">Profile &amp; account</a>
                        <a href="#" class="dropdown-item">Feedback</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">Settings</a>
                        <a href="#" class="dropdown-item">Logout</a>
                    </div>
                </div>
            </div>
            <!-- 设置一个模态框 给用户上传意见反馈 -->
            <!-- Page title -->
            <div class="page-header d-print-none">
                <div class="row align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            welcome
                        </div>
                        <h2 class="page-title">
                            we are family!
                        </h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                  <span class="d-none d-sm-inline">
                    <a href="#" class="btn btn-white">
                      New view
                    </a>
                  </span>
                            <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
                               data-bs-target="#modal-report">
                                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                     stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                </svg>
                                反馈意见
                            </a>
                            <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal"
                               data-bs-target="#modal-report" aria-label="Create new report">
                                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                     stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="page-wrapper">
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-deck row-cards">
                    <div class="col-4">
                        <div class="card">
                            <a href="#" class="btn btn-outline-warning w-100 h-100" data-bs-toggle="modal"  data-bs-target="#modal-baseInfo"><h1>基本信息</h1></a>
                            <div  class="modal modal-blur fade"  id="modal-baseInfo"
                                      tabindex="-1" style="display: none;" aria-hidden="true">
                                        <div  class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">基本信息</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="col-auto">
                                                        <label class="form-label" hidden="hidden">olderId</label>
                                                        <input type="hidden" name="olderId"  th:value="${older.olderId}"  class="form-control">
                                                    </div>
                                                    <div class="row mb-3 align-items-end">
                                                        <div class="col-auto">
                                                            <label class="form-label">name</label>
                                                            <input type="hidden" name="olderName" th:value="${older.olderName}">
                                                            <input type="text" name="olderName"  th:value="${older.olderName}" value="熊熊熊熊熊熊"  disabled="disabled"  class="form-control">
                                                        </div>
                                                        <div class="col">
                                                            <label class="form-label">联系电话</label>
                                                            <input type="text"  name="olderPhone" th:value="${older.olderPhone}" th:placeholder="${older.olderPhone}" placeholder="18292928978"  class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3 align-items-end">

                                                        <div class="col-4" th:switch="${older.olderGender}">
                                                            <label class="form-label">性别</label>
                                                            <input type="text" th:case="1"  name="olderGender"  th:value="${older.olderGender}" placeholder="男"  class="form-control">
                                                            <input type="text" th:case="2"  name="olderGender"  th:value="${older.olderGender}" placeholder="女"  class="form-control">

                                                        </div>
                                                        <div class="col-4">
                                                            <label class="form-label">房间号</label>
                                                            <input type="text"  name="olderRoomNum" th:value="${older.olderRoomNum}" th:placeholder="${older.olderRoomNum}" placeholder="101"  class="form-control">
                                                        </div>
                                                        <div class="col-4" th:switch="${older.olderStatus}">
                                                            <label class="form-label">健康状态</label>
                                                            <input type="text"  name="olderStatus"  th:case="1"  th:value="健康" placeholder="健康"  class="form-control">
                                                            <input type="text"  name="olderStatus"  th:case="2"  th:value="不健康" placeholder="不健康"  class="form-control">
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <label class="form-label">描述信息</label>
                                                        <textarea class="form-control" name="olderDescription" th:text="${older.olderDescription}"  placeholder="请输入描述信息"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <a href="#" class="btn btn-outline-warning w-100 h-100" data-bs-toggle="modal"  data-bs-target="#modal-SymptomRecord"><h1>档案信息</h1></a>
                            <div  class="modal modal-blur fade"  id="modal-SymptomRecord"
                                  tabindex="-1" style="display: none;" aria-hidden="true">
                                <div  class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">档案信息</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            暂未实现查看档案信息功能...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <a th:href="@{'/guessDish/'+${older.olderId}}" class="btn btn-outline-warning w-100 h-100" ><h1>猜你喜欢</h1></a>

                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3>生命体征检测</h3>
                            </div>
                            <div class="card-body">
                                <div id="chart-social-referrals" class="chart-lg"></div>
                            </div>
                        </div>


                    </div>



                    <!--第三行 帖子+购物块-->
                    <div class="col-md-8">
                        <div class="card" style="height: calc(24rem + 10px)">
                            <div class="card-header">访客记录</div>
                            <div class="card-body card-body-scrollable card-body-scrollable-shadow">
                                <div class="divide-y">
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar">JL</span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>访客原因</strong> 探望老爷子的身体情况
                                                </div>
                                                <div class="text-muted"><strong>yesterday</strong></div>
                                            </div>
                                            <div class="col-auto align-self-center">
                                                <div class="badge bg-primary"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar">光头强</span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    It's <strong>Mallory Hulme</strong>'s birthday. Wish him well!
                                                </div>
                                                <div class="text-muted">2 days ago</div>
                                            </div>
                                            <div class="col-auto align-self-center">
                                                <div class="badge bg-primary"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/003m.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Dunn Slane</strong> posted <strong>"Well, what do you
                                                    want?"</strong>.
                                                </div>
                                                <div class="text-muted">today</div>
                                            </div>
                                            <div class="col-auto align-self-center">
                                                <div class="badge bg-primary"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/000f.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Emmy Levet</strong> created a new project <strong>Morning
                                                    alarm clock</strong>.
                                                </div>
                                                <div class="text-muted">4 days ago</div>
                                            </div>
                                            <div class="col-auto align-self-center">
                                                <div class="badge bg-primary"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/001f.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Maryjo Lebarree</strong> liked your photo.
                                                </div>
                                                <div class="text-muted">2 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar">EP</span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Egan Poetz</strong> registered new client as
                                                    <strong>Trilia</strong>.
                                                </div>
                                                <div class="text-muted">yesterday</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/002f.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Kellie Skingley</strong> closed a new deal on project
                                                    <strong>Pen Pineapple Apple Pen</strong>.
                                                </div>
                                                <div class="text-muted">2 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/003f.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Christabel Charlwood</strong> created a new project for
                                                    <strong>Wikibox</strong>.
                                                </div>
                                                <div class="text-muted">4 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar">HS</span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Haskel Shelper</strong> change status of <strong>Tabler
                                                    Icons</strong> from <strong>open</strong> to <strong>closed</strong>.
                                                </div>
                                                <div class="text-muted">today</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/006m.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Lorry Mion</strong> liked <strong>Tabler UI Kit</strong>.
                                                </div>
                                                <div class="text-muted">yesterday</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/004f.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Leesa Beaty</strong> posted new video.
                                                </div>
                                                <div class="text-muted">2 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/007m.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Perren Keemar</strong> and 3 others followed you.
                                                </div>
                                                <div class="text-muted">2 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar">SA</span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Sunny Airey</strong> upload 3 new photos to category
                                                    <strong>Inspirations</strong>.
                                                </div>
                                                <div class="text-muted">2 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/009m.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Geoffry Flaunders</strong> made a <strong>$10</strong>
                                                    donation.
                                                </div>
                                                <div class="text-muted">2 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/010m.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Thatcher Keel</strong> created a profile.
                                                </div>
                                                <div class="text-muted">3 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/005f.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Dyann Escala</strong> hosted the event <strong>Tabler UI
                                                    Birthday</strong>.
                                                </div>
                                                <div class="text-muted">4 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar"
                                                      style="background-image: url(./static/avatars/006f.jpg)"></span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Avivah Mugleston</strong> mentioned you on <strong>Best of
                                                    2020</strong>.
                                                </div>
                                                <div class="text-muted">2 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto">
                                                <span class="avatar">AA</span>
                                            </div>
                                            <div class="col">
                                                <div class="text-truncate">
                                                    <strong>Arlie Armstead</strong> sent a Review Request to <strong>Amanda
                                                    Blake</strong>.
                                                </div>
                                                <div class="text-muted">2 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row row-cards">
                            <div class="col-12">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                            <span class="bg-blue text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                   viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                   stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"
                                                                                        fill="none"></path><path
                                      d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2"></path><path
                                      d="M12 3v3m0 12v3"></path></svg>
                            </span>
                                            </div>
                                            <div class="col">
                                                <div class="font-weight-medium">
                                                    132 余额
                                                </div>
                                                <div class="text-muted">
                                                    12 waiting payments
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                            <span class="bg-green text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/shopping-cart -->
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                   viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                   stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"
                                                                                        fill="none"></path><circle
                                      cx="6" cy="19" r="2"></circle><circle cx="17" cy="19" r="2"></circle><path
                                      d="M17 17h-11v-14h-2"></path><path d="M6 5l14 1l-1 7h-13"></path></svg>
                            </span>
                                            </div>
                                            <div class="col">
                                                <div class="font-weight-medium">
                                                    78 购物车
                                                </div>
                                                <div class="text-muted">
                                                    32 shipped
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                            <span class="bg-yellow text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/users -->
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                   viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                   stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"
                                                                                        fill="none"></path><circle
                                      cx="9" cy="7" r="4"></circle><path
                                      d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path><path
                                      d="M16 3.13a4 4 0 0 1 0 7.75"></path><path
                                      d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path></svg>
                            </span>
                                            </div>
                                            <div class="col">
                                                <div class="font-weight-medium">
                                                    1352 通讯录
                                                </div>
                                                <div class="text-muted">
                                                    163 registered today
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                            <span class="bg-twitter text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                   viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                   stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"
                                                                                        fill="none"></path><path
                                      d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"></path></svg>
                            </span>
                                            </div>
                                            <div class="col">
                                                <div class="font-weight-medium">
                                                    623 分享
                                                </div>
                                                <div class="text-muted">
                                                    16 today
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                            <span class="bg-facebook text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/brand-facebook -->
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                   viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                   stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"
                                                                                        fill="none"></path><path
                                      d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"></path></svg>
                            </span>
                                            </div>
                                            <div class="col">
                                                <div class="font-weight-medium">
                                                    132 喜欢
                                                </div>
                                                <div class="text-muted">
                                                    21 today
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--模态框组件 new view， create new report-->
<div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form action="/submitSuggestion" method="post">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Suggestions</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" th:value="${session.older.olderName}" disabled="disabled" class="form-control" name="example-text-input" placeholder="输入你的姓名">
                    </div>

                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">title</label>
                                <input type="text" name="title" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div>
                                <label class="form-label">描述</label>
                                <textarea name="description" class="form-control" rows="3" placeholder="请您更具体的描述您的问题..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                        取消
                    </a>
                    <button type="submit" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                             stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                             stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                        提交
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--生命体征数据显示-->
<script>
    document.addEventListener("DOMContentLoaded", function (l) {
        if (window.ApexCharts) {
            // 使用 Ajax 获取数据
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/getVitalSigns", true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var jsonData = JSON.parse(xhr.responseText);

                    // 通过配置选项直接渲染图表
                    new ApexCharts(document.getElementById('chart-social-referrals'), {
                        chart: {
                            type: "line",
                            fontFamily: 'inherit',
                            height: 240,
                            parentHeightOffset: 0,
                            toolbar: {
                                show: false,
                            },
                            animations: {
                                enabled: false
                            },
                        },
                        fill: {
                            opacity: 1,
                        },
                        stroke: {
                            width: 2,
                            lineCap: "round",
                            curve: "smooth",
                        },
                        series: [{
                            name: "最低血压",
                            data: jsonData.maxBP,
                        }, {
                            name: "最高血压",
                            data: jsonData.lowBP,
                        }, {
                            name: "体温",
                            data: jsonData.temperature,
                        }],
                        tooltip: {
                            theme: 'Light'
                        },
                        grid: {
                            padding: {
                                top: -20,
                                right: 0,
                                left: -4,
                                bottom: -4
                            },
                            strokeDashArray: 4,
                            xaxis: {
                                lines: {
                                    show: true
                                }
                            },
                        },
                        xaxis: {
                            labels: {
                                padding: 0,
                            },
                            tooltip: {
                                enabled: false
                            },
                            type: 'datetime',
                        },
                        yaxis: {
                            labels: {
                                padding: 4
                            },
                        },
                        labels: jsonData.days,
                        colors: [tabler.getColor("twitter"), tabler.getColor("dribbble"), tabler.getColor("purple")],
                        legend: {
                            show: true,
                            position: 'bottom',
                            offsetY: 12,
                            markers: {
                                width: 10,
                                height: 10,
                                radius: 100,
                            },
                            itemMargin: {
                                horizontal: 8,
                                vertical: 8
                            },
                        },
                    }).render();
                }
            };
            xhr.send();
        }
    });

</script>
<script th:if="${insertMsg} == '反馈成功!'" type="text/javascript">
    alert("反馈成功!");
</script>
<script th:if="${insertMsg} == '反馈失败!'" type="text/javascript">
    alert("反馈失败!");
</script>
<script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/libs/apexcharts/dist/apexcharts.min.js" defer></script>

<script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
</body>
</html>
