<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf的入门</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--    <link rel="stylesheet" href="/bootstrap-5.3.0/css"/>-->
    <!--    <script src="/bootstrap-5.3.0/js"></script>-->
    <!-- CSS files -->
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-flags.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-payments.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-vendors.min.css">

    <style type="text/css">
        /**解决浏览器兼容性问题**/

        .media{width: 534px;height: 400px;margin: 40px auto 0;
        }
        #canvas{display: none;}
    </style>

</head>
<body>
<div class="page">
    <header class="navbar navbar-expand-sm navbar-light d-print-none" style="min-height: 4rem">
        <div class="container-xl">
            <!-- 判断是否是管理员登录，如果是的话就显示返回主页的链接 -->
            <h1 th:if="${session.user.userRole == '管理员'}"
                class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                <ol class="breadcrumb breadcrumb-arrows" aria-label="breadcrumbs">
                    <li class="breadcrumb-item"><a th:href="@{/index}">主页</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/index}" href="#">管理</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="">志愿者信息</a></li>
                </ol>
            </h1>
            <!-- 用户的头像 -->
            <div class="navbar-nav flex-row order-md-last">
                <div class="nav-item dropdown d-none d-md-flex me-3">
                    <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1"
                       aria-label="Show notifications">
                        <!-- Download SVG icon from http://tabler-icons.io/i/bell -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                             stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                             stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"></path>
                            <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
                        </svg>
                        <span class="badge bg-red"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-card">
                        <div class="card">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad amet consectetur
                                exercitationem fugiat in ipsa ipsum, natus odio quidem quod repudiandae sapiente. Amet
                                debitis et magni maxime necessitatibus ullam.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
                       aria-label="Open user menu" aria-expanded="false">
                        <span class="avatar avatar-sm" th:style="'background-image: url('+${volunteer.vNamePhoto} +')'"></span>
                        <div class="d-none d-xl-block ps-2">
                            <div th:text="${volunteer.VName}">name</div>
                            <div class="mt-1 small text-secondary">description</div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <a href="#" class="dropdown-item">当前状态</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">设置</a>
                        <a th:if="session.user.userRole=='志愿者'" href="/layout" class="dropdown-item">注销</a>
                    </div>
                </div>
            </div>
            <!-- 设置一个模态框 给用户上传意见反馈 -->
            <!-- Page title -->
            <div class="page-header d-print-none" th:if="${session.user.userRole == '志愿者'}">
                <div class="row align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            welcome
                        </div>
                        <h2 class="page-title">
                            we are family!
                        </h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                  <span class="d-none d-sm-inline">
                    <a href="#" class="btn btn-white">
                      New view
                    </a>
                  </span>
                            <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
                               data-bs-target="#modal-report">
                                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                     stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                </svg>
                                反馈意见
                            </a>
                            <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal"
                               data-bs-target="#modal-report" aria-label="Create new report">
                                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                     stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div style="height: 30vh;"></div>
    <div class="container">
        <div class="d-flex justify-content-center align-items-center">
            <a style="min-height: 120px;min-width: 120px" href="#" class="btn btn-outline-info m-2"
               data-bs-toggle="modal"
               data-bs-target="#modal-volunteerBase">
                <h1>基本信息</h1>
            </a>

            <div class="modal modal-blur fade" id="modal-volunteerBase"
                 tabindex="-1" style="display: none;" aria-hidden="true">
                <form action="/editVolunteerInfo" method="post" enctype="multipart/form-data">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">基本信息</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="col-auto">
                                    <label class="form-label" hidden="hidden">编号</label>
                                    <input type="hidden" name="vId" th:value="${volunteer.vId}" class="form-control">
                                </div>
                                <div class="row mb-3 align-items-end">
                                    <div class="col-auto">
                                        <label class="form-label">name</label>
                                        <input type="text" name="VName" th:value="${volunteer.vName}" value="志愿者"
                                               disabled="disabled" class="form-control">
                                    </div>
                                    <div class="col">
                                        <label class="form-label">联系电话</label>
                                        <input type="text" name="vPhone" th:value="${volunteer.vPhone}"
                                               th:placeholder="${volunteer.vPhone}" placeholder="输入联系电话"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3 align-items-end">
                                    <div class="col">
                                        <label class="form-label">志愿时长</label>
                                        <input type="text" name="totalTime" th:value="${volunteer.totalTime}" disabled="disabled" class="form-control">
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-label">参与志愿活动次数</label>
                                        <input type="text" name="taskTotal" th:value="${volunteer.taskTotal}" disabled="disabled" class="form-control">
                                    </div>
                                </div>
                                <div>
                                    <label class="form-label">上传头像</label>
                                    <input type="file" class="form-control" name="photoFile" placeholder="请上传头像"></input>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn me-auto" data-bs-dismiss="modal">关闭</button>
                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">提交</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            <a style="min-height: 120px;min-width: 120px" href="#" class="btn btn-outline-primary m-2"
               data-bs-toggle="modal"
               data-bs-target="#modal-getTask">
                <h1>获取任务</h1>
            </a>
            <div class="modal modal-blur fade" id="modal-getTask"
                 tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">获取任务</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label >用户名：</label>
                            <input type="text" class="form-control"  th:value="${volunteer.vName}" id="vName" disabled="disabled">
                            <div class="media">
                                <video id="video" width="450" height="300" src="" autoplay></video>
                                <canvas id="canvas" width="450" height="300"></canvas>
                            </div>
                            <button id="face">人脸验证</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center mx-2">
            <a style="min-height: 120px;min-width: 120px" href="#"  class="btn btn-outline-success m-2"
               data-bs-toggle="modal"
               data-bs-target="#modal-alreadyTask">
                <h1>已选任务</h1>
            </a>
            <div class="modal modal-blur fade" id="modal-alreadyTask"
                 tabindex="-1" style="display: none;" aria-hidden="true">
                <!-- 滑动屏 modal-dialog-scrollable-->
                <div class="modal-dialog modal-full-width modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">已选任务</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                <table class="table card-table table-vcenter">
                                    <thead>
                                    <tr>
                                        <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox"
                                                               aria-label="Select all invoices"></th>
                                        <th class="w-1">No.
                                            <!-- Download SVG icon from http://tabler-icons.io/i/chevron-up -->
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 class="icon icon-sm text-dark icon-thick" width="24" height="24"
                                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                                 stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <polyline points="6 15 12 9 18 15"></polyline>
                                            </svg>
                                        </th>
                                        <th>任务</th>
                                        <th>发布者</th>
                                        <th>开始时间</th>
                                        <th>志愿时常</th>
                                        <th>接收人</th>
                                        <th>状态</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="task:${tasks}">
                                        <td class="w-1 pe-0">
                                            <input type="checkbox" class="form-check-input m-0 align-middle"
                                                   aria-label="Select task" checked="">
                                        </td>
                                        <!--序号-->
                                        <td th:text="${task.id}">1</td>
                                        <!--任务-->
                                        <td>
                                            <a href="#" class="text-reset" th:text="${task.task}" >Extend the data model.</a>
                                        </td>
                                        <!--发布者-->
                                        <td>panda</td>
                                        <!--发布时间-->
                                        <td class="text-nowrap text-muted">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                                 stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <rect x="4" y="5" width="16" height="16" rx="2"></rect>
                                                <line x1="16" y1="3" x2="16" y2="7"></line>
                                                <line x1="8" y1="3" x2="8" y2="7"></line>
                                                <line x1="4" y1="11" x2="20" y2="11"></line>
                                                <line x1="11" y1="15" x2="12" y2="15"></line>
                                                <line x1="12" y1="15" x2="12" y2="18"></line>
                                            </svg>
                                            <span th:text="${task.taskStartTime}">January 01, 2019</span>
                                        </td>
                                        <td th:text="${task.taskContinueTime}"></td>
                                        <!--接收人-->
                                        <td  class="text-nowrap text-muted">
                                            <span th:if="${task.vId}==0" th:text="无" >熊二</span>
                                            <span th:if="${task.vId} !=0" th:text="${task.vId}">熊大</span>
                                        </td>
                                        <!--完成情况-->
                                        <td class="text-nowrap" th:text="${task.status}"></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a style="min-height: 120px;min-width: 120px" href="#" class="btn btn-outline-warning m-2"
               data-bs-toggle="modal"
               data-bs-target="#modal-more">
                <h1>敬请期待</h1>
            </a>
            <div class="modal modal-blur fade" id="modal-more"
                 tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">档案信息</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            暂未实现查看档案信息功能...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--模态框组件 new view， create new report-->
    <div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <form action="/submitSuggestion" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">New Suggestions</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" th:value="${volunteer.vName}" disabled="disabled"
                                   class="form-control" name="example-text-input" placeholder="输入你的姓名">
                        </div>

                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">title</label>
                                    <input type="text" name="title" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div>
                                    <label class="form-label">描述</label>
                                    <textarea name="description" class="form-control" rows="3"
                                              placeholder="请您更具体的描述您的问题..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                            取消
                        </a>
                        <button type="submit" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                 viewBox="0 0 24 24"
                                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                 stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg>
                            提交
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<script type="text/javascript" th:inline="javascript">
    /**调用摄像头，获取媒体视频流**/
    var video = document.getElementById('video');
    //返回画布二维画图环境
    var userContext = canvas.getContext("2d");
    var getUserMedia =
        //浏览器兼容,表示在火狐、Google、IE等浏览器都可正常支持
        (navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia)
    //getUserMedia.call(要调用的对象，约束条件，调用成功的函数，调用失败的函数)
    getUserMedia.call(navigator,{video: true,audio: false},function(localMediaStream){
        //获取摄像头捕捉的视频流
        video.srcObject=localMediaStream;
    },function(e){
        console.log("获取摄像头失败！！")
    });
    //点击按钮注册事件
    var btn = document.getElementById("face");

    btn.onclick = function () {
        var username =  /*[[${volunteer.vName}]]*/ "nullvalue";
        if(username != null){
            captureAndSendUserFace(username);
        } else {
            alert("用户名不能为空");
        }
    }

    function captureAndSendUserFace(username) {
        userContext.drawImage(video, 0, 0, 450, 300);
        var userImgSrc = document.getElementById("canvas").toDataURL("img/png");
        var faceBase = userImgSrc.split(",")[1];

        $.ajax({
            url: "/volunteers/faceLogin",
            type: "post",
            data: {
                "faceBase": faceBase,
                "vName": username,
            },
            dataType: "json",// 设置你收到服务器数据的格式，根据服务器返回类型填：json、text
            success: function(jsonData){
                var score = jsonData.result.user_list[0].score;
                var userId = jsonData.result.user_list[0].user_id;
                console.log(score);
                console.log(userId)
                console.log(username)
                if(score >= 50 && userId == username){
                    alert("认证成功！");
                    window.location.href="/schedule";
                } else {
                    alert("认证失败，请重试！");
                }
            },
            error: function(){
                alert("系统错误");
            }
        })
    }
</script>




    <!--<script th:if="${insertMsg} == '反馈成功!'" type="text/javascript">-->
    <!--    alert("反馈成功!");-->
    <!--</script>-->
    <!--<script th:if="${insertMsg} == '反馈失败!'" type="text/javascript">-->
    <!--    alert("反馈失败!");-->
    <!--</script>-->

    <script th:if="${updateInfoMsg} == '1'" type="text/javascript">
        alert("更新成功!");
    </script>
    <script th:if="${updateInfoMsg} == '0'" type="text/javascript">
        alert("更新失败!");
    </script>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>
