<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.smartpersionsys.mapper.SymptomsMapper">


    <!-- selectAll-->
    <select id="selectAll" resultType="com.edu.smartpersionsys.pojo.Symptoms">
        select * from symptom_statistics
    </select>

<!--    &lt;!&ndash; &ndash;&gt;-->
<!--    <select id="" resultType="">-->

<!--    </select>-->

</mapper>