<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.smartpersionsys.mapper.VolunteerMapper">


    <!-- Volunteer getVolunteerByVId(int vid);-->
    <select id="getVolunteerByVId" resultType="volunteer">
        select * from t_volunteers where v_id=#{vId}
    </select>


    <!-- Volunteer getVolunteerByUserId(int userId);-->
    <select id="getVolunteerByUserId" resultType="volunteer">
        select * from t_volunteers where user_id=#{userId}
    </select>


<!--  int updateTotalTimeByVId(@Param("vId") int vId,@Param("totalTime") int totalTime,@Param("taskTotal") int taskTotal);-->
    <update id="updateTotalTimeByVId" >
        update t_volunteers set total_time=#{totalTime}, task_total=#{taskTotal} where v_id=#{vId}
    </update>

    <!-- int updatePhone(Volunteer volunteer); -->
    <update id="updatePhone" >
        update t_volunteers set v_phone=#{vPhone} where v_id=#{vId}
    </update>

    <!-- int updatePhoneAndPhoto(Volunteer volunteer); -->
    <update id="updatePhoneAndPhoto" >
        update t_volunteers set v_name_photo=#{vNamePhoto}, v_phone=#{vPhone} where v_id=#{vId}
    </update>

    <!-- int insert(int userId,String userName);-->
    <insert id="insert">
        insert into t_volunteers(user_id,v_name) value (#{userId},#{vName})
    </insert>

    <!--List<Task> findTaskByVId(int vId);-->
    <select id="findTaskByVId" resultType="task">
        select * from task where v_id=#{vId}
    </select>

</mapper>